<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Kid Chanel Tab -->
    <ion-tab title="Kid Learning" icon-off="ion-disc" icon-on="ion-disc" href="#/tab/kidchannels">
        <ion-nav-view name="tab-channels"></ion-nav-view>
    </ion-tab>

    <!-- Cars Tab -->
    <ion-tab title="Cars" icon-off="ion-android-car" icon-on="ion-android-car" href="#/tab/menucars">
        <ion-nav-view name="tab-cars"></ion-nav-view>
    </ion-tab>

    <!-- Movies Tab -->
    <ion-tab title="Movies" icon-off="ion-ios-film" icon-on="ion-ios-film" href="#/tab/menumovies">
        <ion-nav-view name="tab-movies"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


</ion-tabs>