<ion-view view-title={{currentVideoPlayTitle}}>
  <ion-content class="padding">
<!--     <iframe id="ytplayer" type="text/html" width="100%" height="390"
  ng-src="{{trustSrc(currentURL)}}"
  frameborder="0" allowfullscreen/>-->
<!--      
     <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>  -->


      <div my-youtube code="code"></div>
      
<!--           The Control Buttons 
    <button ng-click="sendControlEvent(YT_event.PLAY)">Send Play</button>
    <button ng-click="sendControlEvent(YT_event.PAUSE)">Send Pause</button>
    <button ng-click="sendControlEvent(YT_event.STOP)">Send Stop</button>
      
      <button ng-click="playNextVideo()">Blank Space</button>-->
      <br>
            <a href="#" onclick="window.open('http://www.kidzout.com', '_system');">www.kidzout.com</a>
      <br>
      <a href="#" onclick="window.open('https://www.youtube.com/watch?v=Co0tTeuUVhU', '_blank','location=no,clearsessioncache=yes,clearcache=yes')">vivo youtube</a>
    </ion-content>
</ion-view>